.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #121212;
}

.logo {
  display: inline-block;
  padding: 10px 10px 7px 20px;
}
.logo a {
  display: block;
}

.header ul {
  margin: 0;
  padding: 3px 10px 0 0;
  list-style: none;
  display: flex;
  gap: 30px;
}

.header li {
  display: none;
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
}

.header li a {
  color: white;
  display: inline-block;
  padding: 15px 10px;
  text-decoration: none;
}

.header li a:hover {
  color: var(--theme-yellow);
}

@media (min-width: 450px) {
  .header li {
    display: inline-block;
  }
}
